{% extends "base.html" %}
{% block content %}
<div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 bg-white border-gray-400">
    <div class="flex flex-col w-full">
        <a href="{% url 'users:kakao-login' %}" class="btn border text-yellow-800 mb-2 border-yellow-400 bg-yellow-400 ">
            <i class="fas fa-comment mr-2 fa-lg"></i> 카카오 로그인
        </a>
    </div>

    <div class="flex items-center w-full my-5">
        <div class="h-px w-full bg-gray-400"></div>
        <span class="text-gray-600 font-medium mx-4 text-sm">or</span>
        <div class="h-px w-full bg-gray-400"></div>
    </div> 

    <form method="POST" action="{% url "users:login" %}" class="w-full">
        {% csrf_token %}
        <label for="id_username"></label>
        <input id="id_username" type="text" name="username" placeholder="아이디" class="input_login mb-3">
        <label for="id_password"></label>
        <input id="id_password" type="password" name="password" placeholder="비밀번호" class="input_login mb-3">
        <!-- <input type="text" placeholder="ID" class="mb-3">
        <input type="password" placeholder="Password" class="mb-3">     -->
        <button type="submit" value="Log in" class="btn mt-5 bg-red-500 text-white">로그인</button>
    </form>

    <div class="mt-5">
        <span class="mr-2">계정이 없으신가요?</span>
        <a href="{% url 'users:signup' %}" class="text-teal-500 font-medium">회원가입</a>
    </div>

</div>

{% endblock content %}
