{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
        content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}
        {% endblock page_title %}</title>
</head>
<body>
    
    <h1> <a href={% url "home" %}> 
        <img src={% static "img/logo.jpeg" %} width=70px/>
        Potato Market!
        </a> 
    </h1>
    {% if user.is_authenticated %}
        <h3> <a href={% url "users:logout" %}>로그아웃</a> </h3>
        <h3> <a href={% url "wares:create" %}>새상품 등록1</a></h3>
    {% else %}
        <h3> <a href={% url "users:login" %}>로그인</a> 
         <a href={% url "users:signup" %}>회원가입</a></h3>
    {% endif %}


    {% block content %}
    {% endblock content %}

    {% include "footer.html"%}
</body>
</html>
