{% extends "base.html" %}

{% block page_title %}
    Potato Market
{% endblock page_title %}

{% block content %}

    
    <div>
        <div>
            {% for ware in wares %}

                {% include 'wares/ware_card.html' with ware=ware %}

            {% endfor %}
        </div>

        <div>
            {% if page_obj.has_previous%}
                <a href="?page={{page_obj.number|add:-1}}">이전페이지</a>
            {% endif %}

            <span>{{page_obj.number}} 중 {{page_obj.paginator.num_pages}}</span>

            {% if page_obj.has_next %}
                <a href="?page={{page_obj.number|add:1}}">다음페이지</a>
            {% endif %}
        </div>
    </div>
  
{% endblock content %}