{% extends "base.html" %}

{% block page_title %}
    Potato Market
{% endblock page_title %}

{% block content %}

    <h3> <a href={% url "wares:create" %}>새상품 등록1</a></h3>

    <table>
        <thead>
            <tr>
                <th>Photo</th>
                <th>Product</th>
                <th>Price</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            {% for ware in wares %}
            <tr>
                <td><img src = {{ware.photo.url}} /> </td>
                <td>
                    <a href={% url "wares:detail" ware.pk %}>{{ware.name}}</a>
                </td>
                <td>{{ware.price}}</td>
                <td>{{ware.city}}</td>              
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}