@tailwind base;

.font-potato {
    font-family: 'Black Han Sans', sans-serif;
}

.font-potato2 {
    font-family: 'Noto Sans KR';
}

@tailwind components;

.search-box {
    transition: box-shadow 0.2s linear;
  }

.nav_link {
    @apply ml-8 border-b-2 border-white h-full flex items-center;
    a {
      @apply py-8 px-5;
    }
    &:hover {
      @apply border-gray-600;
    }
  }

@tailwind utilities;
